# Node.js
node_modules/
npm-debug.log

# Git
.git/
.gitignore
.gitmodules

# Documentation
docs/

# Development files
.env-example
.prettierignore
.prettierrc
.npmrc
replace-text.txt

# Session data
session/

# Backups
whatsapp-chatgpt-backup.git/

# Editor files
.vscode/
.idea/

# Local environment
#.env
